* {
    margin: 0;  
    padding: 0;
}



#canvas {
    width: 100%;
    background: gray;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}